.friend-list {
    width: 100%;
    max-width: 517px;
    max-height: 864px;
    background: url(../../../img/friend-list/friend-list-bg.png) no-repeat center;
    padding: 0 35px 0 20px;
}

.contacts-list {
    max-height: 720px;
    overflow-y: scroll;
    padding: 20px 0 20px 20px;


}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #2b80ff;
    // border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


::-webkit-resizer {
    background-color: transparent;
}