.friend-list {
    width: 100%;
    max-width: 517px;
    height: 864px;
    background: url(../../../img/friend-list/friend-list-bg.png) no-repeat center /cover;
    padding: 0px 20px;
}

@media (max-width: 1024px) {
    .friend-list {
        height: 100vh;
        width: fit-content;
    }
}

@media (max-width: 568px) {
    .friend-list {
        padding: 0;
        height: 100%;
        max-height: 100vh;
        background-size: cover;
    }
}



::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #2b80ff;
    // border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


::-webkit-resizer {
    background-color: transparent;
}