.chat-screen {
    max-width: 546px;
    width: 100%;
    height: 883px;
    background-color: #373351;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

@media (max-width: 1024px) {
    .chat-screen {
        height: 100vh;
    }
}

@media (max-width: 568px) {
    .chat-screen {
        min-height: 100vh;
    }
}

.chat-screen__items {
    padding: 30px 35px 45px 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: -webkit-fill-available;
    overflow-y: scroll;

}

@media (max-width: 568px) {
    .chat-screen__items {
        padding: 0;


    }
}

@media (max-width: 568px) {
    .chat-screen {


        height: 100vh;
        // max-width: calc(100%);
    }
}